.container-pk {
    background: url(img/bkgrnd.png);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    position: relative;
    padding-top: 1.244%;
    padding-bottom: 1.244%;
    padding-left: 0.9455%;
    padding-right: 0.9455%;
    border-left: solid;
    border-right: solid;
    border-color: #909494;
}